In [45]:
import pandas as pd
import numpy as np
import re

In [46]:
fl=[]
to_csv = []

In [47]:
file1 = open("/content/sample_data/onelinefile.txt","w")
c = "1Aaa3.5Maths2Bbb4.2Physics3Ccc7.62Chemistry4Ddd9.55Biology5Eee4.0Social6Fff7.6English7Ggg3.111Maths8Hhh9.99Physics9Iii1.23Civics"

file1.writelines(c)
file1.close()

In [48]:
with open('/content/sample_data/onelinefile.txt') as f:
    lines = f.readlines()

In [49]:
for line in lines:
  #Split the lines into records
  rec = re.findall("[0-9][A-Z][a-z]*[0-9][.]*[0-9]*[A-Z][a-z]*",line)
  print(rec)

['1Aaa3.5Maths', '2Bbb4.2Physics', '3Ccc7.62Chemistry', '4Ddd9.55Biology', '5Eee4.0Social', '6Fff7.6English', '7Ggg3.111Maths', '8Hhh9.99Physics', '9Iii1.23Civics']

In [50]:
import csv

In [51]:
#Serial Number
sno=[]
#Name
name = []
#Score
score = []
#Subject
subject = []

for i in range(len(rec)):
  #Serial Number
  sno.append(i+1)

for i in rec:
  #Store the Strings
  string = re.findall("[A-Z][a-z]*",i)
  print(string)
  name.append(string[0])
  subject.append(string[1])

  #Store the Score
  mark = re.findall("[0-9][.][0-9]*",i)
  for j in mark:
    score.append(j)
  
print(sno)
print(name)
print(score)
print(subject)

['Aaa', 'Maths']
['Bbb', 'Physics']
['Ccc', 'Chemistry']
['Ddd', 'Biology']
['Eee', 'Social']
['Fff', 'English']
['Ggg', 'Maths']
['Hhh', 'Physics']
['Iii', 'Civics']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Aaa', 'Bbb', 'Ccc', 'Ddd', 'Eee', 'Fff', 'Ggg', 'Hhh', 'Iii']
['3.5', '4.2', '7.62', '9.55', '4.0', '7.6', '3.111', '9.99', '1.23']
['Maths', 'Physics', 'Chemistry', 'Biology', 'Social', 'English', 'Maths', 'Physics', 'Civics']

In [52]:
dict = {'Sno': sno, 'Name':name, 'Score':score, 'Subject':subject}
print(dict)

{'Sno': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'Name': ['Aaa', 'Bbb', 'Ccc', 'Ddd', 'Eee', 'Fff', 'Ggg', 'Hhh', 'Iii'], 'Score': ['3.5', '4.2', '7.62', '9.55', '4.0', '7.6', '3.111', '9.99', '1.23'], 'Subject': ['Maths', 'Physics', 'Chemistry', 'Biology', 'Social', 'English', 'Maths', 'Physics', 'Civics']}

In [53]:
ds = pd.DataFrame(dict)

In [54]:
ds

   Sno Name  Score    Subject
0    1  Aaa    3.5      Maths
1    2  Bbb    4.2    Physics
2    3  Ccc   7.62  Chemistry
3    4  Ddd   9.55    Biology
4    5  Eee    4.0     Social
5    6  Fff    7.6    English
6    7  Ggg  3.111      Maths
7    8  Hhh   9.99    Physics
8    9  Iii   1.23     Civics

In [55]:
ds.to_csv('/content/sample_data/Filename2.csv', index=False)